
@model GiftShop.Models.ViewModels.DetailsItem
@{
    ViewBag.Title = "ShowItem";
}

<h2>Item Details</h2>


<div class="row">
    <div class="col-md-6 col-sm-12">

        @{
            string imageurl = "/Content/Images/Items/gift.jpg";
            if (Model.SelectedItem.ItemHasPic)
            {
                imageurl = "/Content/Images/Items/" + Model.SelectedItem.ItemId +"."+ Model.SelectedItem.PicExtension;
            }
        }

        <div><img style="display: block; width: 250px; height: 250px;" alt="@Model.SelectedItem.ItemName" src="@imageurl" /></div>
        <div>Item Name :@Model.SelectedItem.ItemName </div>
        <div>Item Description :@Model.SelectedItem.ItemDescription</div>
    </div>
    <div class="col-md-6 col-sm-12">

        <h3>This item present in:</h3>
        @foreach (var gift in Model.ItemOfGifts)
        {
            <a href="/Gift/Details/@gift.GiftId">GiftId: @gift.GiftId , Basketsize: @gift.GiftBasketSize for Customer Name: @gift.CustomerName </a>
            <a style="color:#ab2020;" href="/Item/Unassociate/@Model.SelectedItem.ItemId?GiftId=@gift.GiftId">[x]</a><br />
            <br />
        }
    </div>
</div>

<div style=" margin-top: 30px; ">
    <a style="border: 1px solid black; text-decoration:none; margin-right: 15px; text-align: center; display: inline-block; background-color: lightgrey; color:black; width: 120px;" href="/Item/List"> Go back to List</a>
    <a style="border: 1px solid black; text-decoration: none; margin-right: 15px; text-align: center; display: inline-block; background-color: #47d147; color: black; width: 120px;" href="/Item/Edit/@Model.SelectedItem.ItemId">Update</a>
    <a style="border: 1px solid black; text-decoration: none; margin-right: 15px; text-align: center; display: inline-block; background-color: crimson; color: black; width: 120px;" href="/Item/DeleteConfirm/@Model.SelectedItem.ItemId">Delete</a>
</div>