@model GiftShop.Models.ViewModels.DetailsGift
@{
    ViewBag.Title = "ShowGift";
}

<h2>Gift Details</h2>

<div>GiftBasket Size :@Model.SelectedGift.GiftBasketSize </div>
<div>GiftBasket Details :@Model.SelectedGift.GiftBasketDetails</div>
<div>GiftBasket Quantity :@Model.SelectedGift.GiftBasketQuantity</div>
<div style=" margin-top: 30px; margin-bottom: 130px; ">
    <a style="border: 1px solid black; text-decoration:none; margin-right: 15px; text-align: center; display: inline-block; background-color: lightgrey; color:black; width: 120px; " href="/Gift/List"> Go back to List</a>
    <a style="border: 1px solid black; text-decoration: none; margin-right: 15px; text-align: center; display: inline-block; background-color: #47d147; color: black; width: 120px; " href="/Gift/Edit/@Model.SelectedGift.GiftId">Update</a>
    <a style="color: #ab2020; text-decoration: none; text-align: center; display: inline-block; border: 1px solid black; background-color:crimson; color: black; width: 120px; " href="/Gift/DeleteConfirm/@Model.SelectedGift.GiftId">Delete</a>
</div>


<div>
    <h3>Items in the Gift Basket of @Model.SelectedGift.CustomerName (GiftID:@Model.SelectedGift.GiftId) </h3>
    @foreach (var item in Model.AvailableItems)
    {
        <a href="/Item/Details/@item.ItemId">Item Name: @item.ItemName , Item Description: @item.ItemDescription</a>
        <a style="color:#ab2020;" href="/Gift/Unassociate/@Model.SelectedGift.GiftId?ItemId=@item.ItemId">[X]</a> <br />
    }

    <div>
        <h3> Add new item </h3>
        <form method="POST" action="/Gift/Associate/@Model.SelectedGift.GiftId">
            <select name="ItemId">
                @foreach (var item in Model.OtherItems)
                {
                    <option value="@item.ItemId">@item.ItemName, @item.ItemDescription</option>
                }
            </select>
            <input type="submit" value="Associate Item" />
        </form>
    </div>
</div>

